* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.kutu {
    text-align: center;
    width: 100%;
    border: 0.11vw solid black;
    padding: 1.1%;
}

.anakapsayici{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.anakutu {
    width: 45%;
    margin: 0;
    height: 50%;
    padding-left: 1.8vw;
    padding-top: 1.8vw;
    display: inline-block;
}

.baslik {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
}

.yazi {
    text-align: left;
    letter-spacing: -0.003em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.67vw;
    line-height: 12px;
}

.kutu2 {
    margin-top: 0.2vw;
}

.kutu3 {
    padding-bottom: 2.8vw;
}

.kutu4 {
    margin-top: 0.4vw;
}

.kutu5 {
    margin-top: 0.38vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.kutu5b {
    justify-content: center;
}
/* }
.isaret2 {
width: 41px;
height: 40px;
left: 732px;
top: 713px;

background: #000000;
border-radius: 6px;
}
.isaret1 {
width: 1vw;
height: 1vw;
left: 744.46px;
top: 751.1px;
padding-right: 200px;

background: #000000;
transform: rotate(-108.27deg);
} */

.ozelbaslik {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 11.8px;
line-height: 12px;
}

.kutu6 {
    margin-top: 3.5vw;
    margin-bottom: 3.5vw;
}

/* SAĞDAKİ KUTULAR */

.sagkutu {
    width: 45%;
    height: 50%;
    margin-right: 1.8vw;
    margin-left: 2.7vw;
    padding-top: 1.8vw;
}

.s-kutu {
    text-align: center;
    width: 100%;
    border: 0.11vw solid black;
    padding: 1.1%;
}

.yasresimleri {
    display: flex;
    justify-content: center;
}

.yasresimleri #svg path {
    mix-blend-mode: luminosity;
    fill: #000000;
}
.yazi2 {
    padding-top: 0.6vw;
}

.uyariresimleri {
    padding-top: 0.6vw;
    display: flex;
    justify-content: center;
}

.pegilogo {
    display: flex;
    justify-content: center;
}

.kutu31 {
    margin-top: 0.38vw;
}

.yazih {
    padding-top: 0.8vw;
}


/* parental advisory kısmı */

.parent1 {
display: flex;
}

.parentkutu {
margin-left: 0.611vw;
margin-top: 0.42vw;
width: 124px;
height: 32px;
left: 877px;
top: 595px;

background: #000000;
}

.parentalads {
width: 106px;
height: 12px;
left: 885px;
top: 605px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 9px;
line-height: 12px;
text-align: center;
letter-spacing: -0.053em;

margin-left: 0.4vw;
margin-top: 0.5vw;

color: #FFFFFF;
}

.parent {
    padding-top: 8px;
    display: flex;
}

.parent2 {
    display: flex;
    margin-top: 6.56px;
    width: 29.5vw;
    height: 2.05vw;
    margin-left: 4px;
    border: 2px solid #000000;
    text-align: center;
    letter-spacing: 1.5vw;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 12px;
    padding-top: 8.56px;
    padding-left: 70px;
}

/* altkisim parentin  */

.resimbuyuk {
    display: flex;
}

.resimkutu {
    width: 122px;
height: 38px;
left: 877px;
top: 629px;

background: #000000;
margin-left: 0.611vw;
margin-top: 0.11vw;
}

.pegirating {
    width: 96px;
height: 12px;
left: 890px;
top: 642px;
margin-left: 0.72vw;
margin-top: 0.72vw;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 9.9px;
line-height: 12px;
text-align: center;
/* letter-spacing: -0.053em; */

color: #FFFFFF;

}

.kutusayi {
    display: flex;
    width: 2.15px;
    height: 26px;
    margin-top: 6.56px;
    width: 29.5vw;
    height: 2.5vw;
    margin-left: 4px;
    border: 2px solid #000000;
    mix-blend-mode: luminosity;
    text-align: center;
    letter-spacing: 1.5vw;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 12px;
    padding-top: 4.56px;
    padding-left: 10px;
    box-sizing: border-box;


}
 .sayiresimleri2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 500.15px;
    height: 26px;
    max-width: 100%;
}


/* .kutusayi {
    display: flex;
    margin-top: 6.56px;
    width: 29.5vw;
    height: 2.05vw;
    margin-left: 4px;
    border: 2px solid #000000;
    text-align: center;
    letter-spacing: 1.5vw;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 12px;
    padding-top: 8.56px;
    padding-left: 70px;
} */

.yaziayri {
    margin-top: 0.468vw;
}

.baslikayirdim {
    padding-top: 3.05vw;
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 9.5px;
line-height: 12px;
}

.yaziayirdim1 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 6.4px;
line-height: 8px;
text-align: justify;
letter-spacing: -0.003em;

color: #000000;
}

.yaziayirdim2 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 6.4px;
line-height: 8px;
text-align: justify;
letter-spacing: -0.003em;

color: #000000;
padding-top: 0.3vw;
}